* {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


a {
    font-weight: 600;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
    text-transform: uppercase;
    padding: 16px 8px;
    color: #989D9C;
    cursor: pointer;
}


#log-in {
    width: 130px;
    height: 41px;
    border-radius: 20.5px;
    background-color: #665AE1;
    border: none;
    font-weight: 600;
    font-size: 24px;
    text-transform: uppercase;
    line-height: 100%;
    letter-spacing: 0%;
    color: #FFFFFF;
    cursor: pointer;
}

header {
    margin: 44px 0 144px 76px;
}

.logo-image {
    width: 568px;
    height: 500px;
    margin-left: 125px;
    display: inline-block;
}

section {
    display: inline-block;
    margin-left: 86px;
    
}

h1 {
    font-weight: 900;
    font-size: 100px;
    line-height: 122px;
    text-transform: uppercase;
    color: #515151;
}

h2 {
    font-weight: 500;
    font-size: 58px;
    line-height: 71px;
    text-transform: capitalize;
    color: #515151;
}

p {
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #848484;
    width: 515px;
    margin: 32px 0 65px 0;
}

#explore {
    width: 239px;
    height: 64px;
    opacity: 1;
    border-radius: 30px;
    background-color: #ADFF01;
    border: none;
    font-weight: 700;
    font-size: 28px;
    line-height: 100%;
    letter-spacing: 0%;
    text-transform: uppercase;
    cursor: pointer;

}

@media screen and (max-width: 700px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    header {
        display: none;
    }

    p {
        display: none;
    }

    .logo-image {
        width: 354px;
        height: 317px;
        display: flex;
        justify-content: center;
        margin: 35% auto 0;
    }

    h1 {
        width: 263px;
        height: 52px;
        font-size: 50px;
        line-height: 100%;
        letter-spacing: 0px;
        margin: 10% auto;
    }

    h2 {
        width: 232px;
        height: 37px;
        font-size: 30px;
        line-height: 100%;
        letter-spacing: 0px;
    }

    #explore {
        border-radius: 50px;
        margin: 11% auto;
    }

}